{% load tags %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    {% block extra_head %}{% endblock extra_head %}
</head>
<body>
<header>

<h1>Main Menu</h1>
{% draw_menu 'main_menu' %}
<h1>-----------------------</h1>

<h1>Over Menu</h1>
{% draw_menu 'second_menu' %}
<h1>-----------------------</h1>

</header>
<h1>-----------------------</h1>
<p><a href="/">Main Page</a></p>
<p><a href="/admin">admin</a></p>
<h1>-----------------------</h1>
<h5>Path: {{ path }}</h5>
</body>
</html>
